/* .form-control {
    height: 36px; 
} */

button.react-international-phone-country-selector-button {
    border: none !important;
    border-bottom: 1px solid var(--bs-gray-300) !important;
}

.dropdown-toggle::after {
    display: none !important;
}

/* .shadow-primary-color {
    box-shadow: 0 0.1rem 0.75rem 0.25rem rgba(0, 123, 255, 0.5); 
}

.shadow-secondary-color {
    box-shadow: 0 0.1rem 0.75rem 0.25rem  rgba(108, 117, 125, 0.5); 
} */

/* Add this CSS to your global stylesheet or module-specific stylesheet */

/* for dashboard cards */

.custom-css {
    height: 55px !important;
}

@media (min-width: 992px) and (max-width: 1244px) {
    .custom-css {
        height: 70px !important;
    }
}
